body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content:  space-between;
    height: 75px;
    background-color: #1F2937;
    flex: 1 0 auto;
}

.header-logo{
    font-family: 'Roboto', sans-serif;
    font: 48px bold;
    color: #F9FAF8;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-img{
    width: 500px;
}

