.header {
    display: flex;
    justify-content:  space-between;
    height: 75px;
    background-color: #1F2937;
}

.header-logo{
    font-family: 'Roboto', sans-serif;
    font: 48px bold;
    color: #F9FAF8;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-img{
    width: 500px;
}

